<%- include('../_layouts/adminheader.ejs') %>

<h2 class="page-title">Edit Category</h2>
<a href="/admin/categories" class="btn btn-primary">Back to all Categories</a>
<br><br>

<form action="/admin/categories/edit-category/<%= id %>" method="POST">
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>
    
    <button class="btn btn-primary">Submit</button>
</form>
<%- include('../_layouts/adminfooter.ejs') %>